<header>
    <mdb-navbar SideClass="navbar navbar-expand-lg pink justify-content-between" [containerInside]="false">
        <mdb-navbar-brand class="mr-lg-auto ml-xl-5">
            <a class="navbar-brand white-text" href="">Expense Reimbursement</a>
        </mdb-navbar-brand>
        <links *ngIf="currentlyLoggedIn">
            <ul class="navbar-nav ml-lg-auto nav-flex-icons mr-xl-5">
                <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="user"></mdb-icon> {{ userFirstName }}<span class="caret"></span>
                    </a>
                    <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">
                            <mdb-icon fas icon="sign-out-alt"></mdb-icon> Logout
                        </a>
                    </div>
                </li>
            </ul>
        </links>
    </mdb-navbar>
</header>