<div class="row mt-4">
    <div class="col-12 col-md-5 ml-auto">
        <div class="md-form">
            <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput autofocus>
            <label for="search">Filter reports</label>
        </div>
    </div>
</div>
<mdb-card cascade="true" narrower="true">
    <div class="view view-cascade bg-dark pink narrower py-2 mx-4 mb-3 d-flex align-items-center">
        <div class="container-fluid">
            <div class="row">
                <div class="text-center col-12 mx-auto">
                    <h3 class="h3 white-text">
                        Submitted Requests
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <table id="submittedExpenseRequests" mdbTable #tableEl="mdbTable" class="mb-0" hover="true">
        <thead>
            <tr>
                <th [mdbTableSort]="reimbursements" sortBy="id">Reimbursement ID
                    <mdb-icon fas icon="sort"></mdb-icon>
                </th>
                <th [mdbTableSort]="reimbursements" sortBy="type">Type
                    <mdb-icon fas icon="sort"></mdb-icon>
                </th>
                <th [mdbTableSort]="reimbursements" sortBy="status">Status
                    <mdb-icon fas icon="sort"></mdb-icon>
                </th>
                <th [mdbTableSort]="reimbursements" sortBy="amount">Amount
                    <mdb-icon fas icon="sort"></mdb-icon>
                </th>
                <th [mdbTableSort]="reimbursements" sortBy="date_submitted">Date Submitted
                    <mdb-icon fas icon="sort"></mdb-icon>
                </th>
                <th [mdbTableSort]="reimbursements" sortBy="date_resolved">Date Resolved
                    <mdb-icon fas icon="sort"></mdb-icon>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reimbursement of reimbursements; let i = index" routerLink="/request/{{ reimbursement.id }}" [ngStyle]="{'cursor': 'pointer'}">
                <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">
                    {{ reimbursement.id | ersId }}</th>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                    {{ reimbursement.type }}
                </td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                    {{ reimbursement.status }}
                </td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                    ${{ reimbursement.amount }}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                    {{ reimbursement.date_submitted | date : 'longDate' }}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                    {{( reimbursement.date_resolved | date : 'longDate') || "Still open" }}</td>
            </tr>
        </tbody>
        <tfoot class="grey lighten-5 w-100">
            <tr>
                <td colspan="6">
                    <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="reimbursements"></mdb-table-pagination>
                </td>
            </tr>
        </tfoot>
    </table>
</mdb-card>