<div class="row" *ngIf="currentlyLoggedIn; else login">
    <div class="col-12 d-flex justify-content-between">
        <h2 class="h2 m-0">Welcome {{ userFirstName }}!</h2>
        <app-new-request></app-new-request>
    </div>
    <div class="col-12 mb-md-5">
        <app-requests></app-requests>
    </div>
</div>
<ng-template #login>
    <div #alert class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    </div>
    <h2 class="text-center h2">You aren't logged in<br>Please log in to access your profile</h2>
</ng-template>